html {
  font-family: 'Playfair Display', sans-serif;
  font-size: 10px;
  line-height: 1;
  overflow-x: hidden; }

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.roboto, .header span, .header li, .title__slogan, .title__link, #story .story__title_text, #story .story__title_button, #video h4, #expertise .expertise__alignment h6, #expertise .expertise__alignment .expertise__feature .item h3, #expertise .expertise__alignment .expertise__feature .item p, #meet .meet__persons_person h5, #meet .meet__persons_person h6, #meet h4, #meet a, #works p, #works .work h4 {
  font-family: 'Roboto';
  font-weight: 400; }

.container {
  max-width: 1100px;
  margin: 0 auto; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

header {
  background: url(../img/put-your-image-here.png) no-repeat center center;
  height: 100vh;
  position: relative; }
  header * {
    z-index: 100; }

.header__overlay {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(9, 5, 47, 0.85)), to(rgba(49, 29, 94, 0.85)));
  background-image: -webkit-linear-gradient(left, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
  background-image: -o-linear-gradient(left, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
  background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: 100vh;
  width: 100vw; }

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px 30px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header .logo {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-flex-basis: 130px;
        -ms-flex-preferred-size: 130px;
            flex-basis: 130px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .header span {
    font-size: 3rem;
    color: #2fa5bd;
    font-weight: 300; }
  .header li {
    list-style: none;
    display: inline;
    padding-right: 22px;
    font-size: 1.3rem;
    text-transform: uppercase; }
  .header a {
    text-decoration: none;
    color: #fff;
    font-weight: 700;
    font-size: 1.5rem; }

.title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .title__caption {
    margin-top: 150px;
    font-size: 3.2rem;
    color: #fff; }
  .title__divider {
    width: 50px;
    height: 2px;
    background-color: #02dacc;
    margin-top: 24px;
    margin-bottom: 24px; }
  .title__slogan {
    font-size: 1.4rem;
    line-height: 2.4rem;
    text-align: center;
    color: #fff;
    letter-spacing: 0.7px; }
  .title__link {
    padding: 12px;
    background-color: transparent;
    font-size: 1.6rem;
    border: 2px solid #00e0d0;
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    margin-top: 50px;
    color: #00e0d0; }

.active {
  display: none;
  -webkit-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s; }

.switchers {
  margin-top: 120px;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  cursor: pointer; }
  .switchers__item {
    height: 15px;
    width: 15px;
    -webkit-border-radius: 50px;
            border-radius: 50px;
    border: 1px solid #00e0d0;
    background-color: transparent;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer; }
  .switchers__item.active {
    background-color: #00e0d0; }

#story .story__alignment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

#story .story__picture {
  background: url(../img/replace-with-your-logo.png) no-repeat center center;
  min-width: 235px;
  min-height: 235px;
  margin-top: 70px;
  margin-bottom: 100px; }

#story .story__title {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 70px;
  margin-left: 100px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  #story .story__title_caption {
    font-size: 2.2rem;
    text-transform: uppercase;
    color: #413d4b;
    font-weight: 700; }
  #story .story__title_text {
    font-size: 1.4rem;
    font-weight: 300;
    opacity: 0.75;
    line-height: 2.2rem;
    letter-spacing: 0.42px;
    margin-top: 28px;
    margin-bottom: 46px;
    color: #413d4b; }
  #story .story__title_button {
    padding: 15px;
    -webkit-border-radius: 1px;
            border-radius: 1px;
    border: 1px solid #00e0d0;
    text-decoration: none;
    color: #00e0d0;
    background: transparent;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: 700; }

#video {
  background: url(../img/newyork.png) center center no-repeat;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 550px;
  position: relative; }
  #video h4 {
    text-transform: uppercase;
    font-size: 2rem;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    margin-top: 50px;
    color: #fff;
    font-weight: 700;
    z-index: 5; }
  #video span {
    font-size: 4rem;
    margin-top: 200px;
    color: #fff;
    border: 5px solid #fff;
    padding: 30px;
    padding-left: 35px;
    -webkit-align-self: center;
        -ms-flex-item-align: center;
            align-self: center;
    -webkit-border-radius: 100%;
            border-radius: 100%;
    cursor: pointer;
    -webkit-transition: all 0.43s;
    -o-transition: all 0.43s;
    transition: all 0.43s;
    z-index: 5; }
    #video span:hover {
      color: #00e0d0;
      border: 5px solid #00e0d0;
      -webkit-transform: scale(1.5);
          -ms-transform: scale(1.5);
              transform: scale(1.5); }
  #video .overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(9, 5, 47, 0.85)), to(rgba(49, 29, 94, 0.85)));
    background-image: -webkit-linear-gradient(left, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
    background-image: -o-linear-gradient(left, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
    background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%; }

#expertise .expertise__alignment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  #expertise .expertise__alignment h5 {
    margin-top: 70px;
    color: #413d4b;
    font-weight: 700;
    font-size: 2.2rem;
    letter-spacing: 1.1px;
    text-transform: uppercase; }
  #expertise .expertise__alignment h6 {
    font-size: 1.4rem;
    font-weight: 400;
    color: #2f2d35;
    opacity: 0.75;
    letter-spacing: 1.05px;
    margin-top: 15px; }
  #expertise .expertise__alignment .expertise__divider {
    width: 50px;
    height: 2px;
    background: #c6c5c9;
    margin-top: 24px;
    margin-bottom: 24px; }
  #expertise .expertise__alignment .expertise__feature {
    margin-top: 50px;
    background: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
    #expertise .expertise__alignment .expertise__feature .item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 33%;
          -ms-flex: 1 0 33%;
              flex: 1 0 33%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      #expertise .expertise__alignment .expertise__feature .item span {
        font-size: 5rem;
        margin-bottom: 35px;
        color: #00e0d0;
        margin-top: 40px; }
      #expertise .expertise__alignment .expertise__feature .item h3 {
        font-size: 1.4rem;
        text-transform: uppercase;
        margin-bottom: 25px;
        font-weight: 700;
        color: #413d4b;
        letter-spacing: 0.7px; }
      #expertise .expertise__alignment .expertise__feature .item p {
        font-size: 1.4rem;
        font-weight: 300;
        opacity: 0.75;
        margin-bottom: 40px;
        margin-left: 20px;
        margin-right: 20px;
        text-align: center;
        color: #333333; }
    #expertise .expertise__alignment .expertise__feature .item-above-left {
      border-right: 1px solid #a6a6a6; }
    #expertise .expertise__alignment .expertise__feature .item-above-middle {
      border-right: 1px solid #a6a6a6; }
    #expertise .expertise__alignment .expertise__feature .item-below-left {
      border-right: 1px solid #a6a6a6;
      border-top: 1px solid #a6a6a6; }
    #expertise .expertise__alignment .expertise__feature .item-below-middle {
      border-top: 1px solid #a6a6a6;
      border-right: 1px solid #a6a6a6; }
    #expertise .expertise__alignment .expertise__feature .item-below-right {
      border-top: 1px solid #a6a6a6; }

#meet {
  background: url(../img/forest.png) center center no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
  position: relative; }
  #meet * {
    z-index: 5; }
  #meet .meet__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(9, 5, 47, 0.85)), to(rgba(49, 29, 94, 0.85)));
    background-image: -webkit-linear-gradient(left, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
    background-image: -o-linear-gradient(left, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
    background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%; }
  #meet .meet__alignment {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  #meet h3 {
    font-size: 2.2rem;
    font-weight: 700;
    letter-spacing: 1.1px;
    color: #fff;
    margin-top: 70px;
    text-transform: uppercase; }
  #meet p {
    font-size: 1.4rem;
    font-weight: 400;
    letter-spacing: 1.05px;
    color: #fff;
    margin-top: 15px;
    text-transform: uppercase; }
  #meet .meet__divider {
    width: 50px;
    height: 2px;
    background-color: #fff;
    margin-top: 50px; }
  #meet .meet__persons {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 50px; }
    #meet .meet__persons_person {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 20px;
      border: 1px solid #e1e1e1; }
      #meet .meet__persons_person_picture {
        min-height: 220px;
        min-width: 220px; }
      #meet .meet__persons_person h5 {
        font-size: 1.4rem;
        font-weight: 400;
        color: #fff;
        letter-spacing: 0.7px;
        margin-top: 25px; }
      #meet .meet__persons_person h6 {
        font-size: 1.3rem;
        font-weight: 300;
        opacity: 0.7;
        margin-top: 12px;
        margin-bottom: 25px;
        color: #fafafa; }
      #meet .meet__persons_person .person1 {
        background: url(../img/greg-raines-50802.jpg) center center no-repeat;
        -webkit-background-size: cover;
                background-size: cover; }
      #meet .meet__persons_person .person2 {
        background: url(../img/allef-vinicius-134060.jpg) center center no-repeat;
        -webkit-background-size: cover;
                background-size: cover; }
      #meet .meet__persons_person .person3 {
        background: url(../img/brooke-cagle-241293.jpg) center center no-repeat;
        -webkit-background-size: cover;
                background-size: cover; }
      #meet .meet__persons_person .person4 {
        background: url(../img/jake-young-168598.jpg) center center no-repeat;
        -webkit-background-size: cover;
                background-size: cover; }
  #meet h4 {
    font-size: 1.4rem;
    font-weight: 300;
    color: #f3f3f3;
    letter-spacing: 0.7px;
    margin-top: 70px; }
  #meet a {
    font-size: 1.6rem;
    font-weight: 700;
    color: #00e0d0;
    text-decoration: none;
    margin-top: 28px;
    margin-bottom: 70px;
    border: 2px solid #0b8993;
    -webkit-border-radius: 2px;
            border-radius: 2px;
    padding: 14px; }

#works .caption__alignment {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 150px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

#works h3 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #413d4b;
  text-transform: uppercase; }

#works p {
  font-size: 1.4rem;
  font-weight: 300;
  color: #413d4b;
  letter-spacing: 0.7px; }
  #works p i {
    margin-left: 10px;
    font-size: 20px;
    -webkit-transition: -webkit-transform 0.5s;
    transition: -webkit-transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    transition: transform 0.5s, -webkit-transform 0.5s;
    cursor: pointer; }
  #works p i:hover {
    -webkit-transform: translateY(15px);
        -ms-transform: translateY(15px);
            transform: translateY(15px); }

#works .works {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
  #works .works .work1 {
    background: url(../img/work1.jpg) center center no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
  #works .works .work2 {
    background: url(../img/work2.jpg) center center no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
  #works .works .work3 {
    background: url(../img/work3.jpg) center center no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
  #works .works .work4 {
    background: url(../img/work4.jpg) center center no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
  #works .works .work5 {
    background: url(../img/work5.jpg) center center no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
  #works .works .work6 {
    background: url(../img/work6.jpg) center center no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }

#works .work {
  min-height: 300px;
  min-width: 300px;
  -webkit-flex-basis: 33%;
      -ms-flex-preferred-size: 33%;
          flex-basis: 33%;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
  position: relative;
  overflow: hidden; }
  #works .work:hover {
    cursor: pointer; }
  #works .work h4 {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
    position: absolute;
    -webkit-transform: translateY(300px);
        -ms-transform: translateY(300px);
            transform: translateY(300px);
    left: 35%;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    z-index: 4; }
  #works .work__overlay {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(9, 5, 47, 0.85)), to(rgba(49, 29, 94, 0.85)));
    background-image: -webkit-linear-gradient(left, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
    background-image: -o-linear-gradient(left, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
    background-image: linear-gradient(to right, rgba(9, 5, 47, 0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    -o-transition: opacity 0.3s;
    transition: opacity 0.3s; }
  #works .work:hover h4 {
    -webkit-transform: translateY(130px);
        -ms-transform: translateY(130px);
            transform: translateY(130px); }
  #works .work:hover .work__overlay {
    opacity: 0.5; }
