html{
	font-family: 'Playfair Display', sans-serif;
	font-size: 10px;
	line-height: 1;
	overflow-x: hidden;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.roboto{
	font-family: 'Roboto';
	font-weight: 400;
}

.container{
	max-width: 1100px;
	margin: 0 auto;

}

.flex{
	display: flex;
	flex-direction: column;
}

header{
	background: url(../img/put-your-image-here.png) no-repeat center center;
	background-attachment: fixed;
	height: 100vh;
	position: relative;

	*{
		z-index:100;
	}
}
.header__overlay{
		background-image: linear-gradient(to right, rgba(9,5,47,0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	  height: 100vh;
		width: 100vw;
	}

.header{
	display: flex;
	justify-content: space-between;
	padding:15px 30px;
	align-items: center;

	.logo{
		display: flex;
		align-items: center;
		flex-basis: 130px;
		justify-content: space-between;
	}

	span{
		font-size: 3rem;
		color:#2fa5bd;
		@extend .roboto;
		font-weight: 300;

	}

	li{
	list-style: none;
	display: inline;
	padding-right: 22px;
	font-size: 1.3rem;
	text-transform: uppercase;
	@extend .roboto;
}
	a{
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	font-size: 1.5rem;
	}
}

.title{
		display: flex;
		flex-direction: column;
		align-items: center;
		

		&__caption{
			margin-top: 150px;
			font-size: 3.2rem;
			color: #fff;
		}

		&__divider{
			width: 50px;
			height: 2px;
			background-color: #02dacc;
			margin-top: 24px;
			margin-bottom: 24px;
		}

		&__slogan{
			font-size: 1.4rem;
			line-height: 2.4rem;
			text-align: center;
			color: #fff;
			@extend .roboto;
			letter-spacing: 0.7px;
		}

		&__link{
			padding: 12px;
			background-color: transparent;
			font-size: 1.6rem;
			border: 2px solid #00e0d0;
			text-decoration: none;
			color: #fff;
			text-transform: uppercase;
			@extend .roboto;
			margin-top: 50px;
			color: #00e0d0;
		}
	}

.active{
	display: none;
	transition: all 1s;
}
	.switchers{
		margin-top: 120px;
		align-self: center;
		cursor: pointer;

		&__item{
			height: 15px;
			width: 15px;
			border-radius: 50px;
			border: 1px solid #00e0d0;
			background-color: transparent;
			margin-right: 3px;
			display: inline-block;		
			cursor: pointer;
		}

		&__item.active{
			background-color: #00e0d0;
		}
	}

#story{

 		.story__alignment{
			display: flex;
			justify-content: space-between;
				
	 	}
		.story__picture{
			background: url(../img/replace-with-your-logo.png) no-repeat center center;
			
			background-size : cover; 
			min-width: 235px;
			min-height: 235px;
			margin-top: 70px;
			margin-bottom: 100px;
		}

		.story__title{
			display: flex;
			flex-direction: column;
			margin-top: 70px;
			margin-left: 100px;
			align-items: flex-start;
			&_caption{
				font-size: 2.2rem;
				text-transform: uppercase;
				color: #413d4b;
				font-weight: 700;

			}

			&_text{
				font-size: 1.4rem;
				font-weight: 300;
				@extend .roboto;
				opacity: 0.75;
				line-height: 2.2rem;
				letter-spacing: 0.42px;
				margin-top: 28px;
				margin-bottom: 46px;
				color: #413d4b;
				@extend .roboto;

			}

			&_button{
				padding: 15px;
				border-radius: 1px;
				border: 1px solid #00e0d0;
				text-decoration: none;
				color:#00e0d0 ;
				background: transparent;
				text-transform: uppercase;
				font-size: 1.6rem;
				@extend .roboto;
				font-weight: 700;
			}
		}
}

#video{
	background: url(../img/newyork.png) center center no-repeat;
	
	display: flex;
	flex-direction: column;
	min-height: 550px;
	position: relative;
	

	
	
	h4{
		text-transform: uppercase;
		font-size: 2rem;
		@extend .roboto;
		align-self: center;
		margin-top: 50px;
		color: #fff;
		font-weight: 700;
		z-index: 5;
	}

	.video__play{
		font-size: 4rem;
		margin-top: 200px;
		color: #fff;
		border: 5px solid #fff;
		padding: 30px;
		padding-left: 35px;
		align-self: center;
		border-radius: 100%;
		cursor: pointer;
		transition: all 0.43s;
		z-index: 5;

		&:hover{
			color: #00e0d0;
			border: 5px solid #00e0d0;
			transform: scale(1.5);
		}
			
	}
	.video__play_mobile{
		font-size: 4rem;
		margin-top: 200px;
		color: #fff;
		border: 5px solid #fff;
		padding: 30px;
		padding-left: 35px;
		align-self: center;
		border-radius: 100%;
		cursor: pointer;
		transition: all 0.43s;
		z-index: 5;
		
	}
	.overlay{
		background-image: linear-gradient(to right, rgba(9,5,47,0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	  height: 100%;
		width: 100%;
	}
}

#expertise{
	padding-bottom: 70px;
	.expertise__alignment{
		display: flex;
		flex-direction: column;
		align-items: center;

		h5{
			margin-top: 70px;
			color: #413d4b;
			font-weight: 700;
			font-size: 2.2rem;
			letter-spacing: 1.1px;
			text-transform: uppercase;
		}
		h6{
			font-size: 1.4rem;
			@extend .roboto;
			font-weight: 400;
			color: #2f2d35;
			opacity: 0.75;
			letter-spacing: 1.05px;
			margin-top: 15px;
		}
		.expertise__divider{
			width: 50px;
			height: 2px;
			background: #c6c5c9;
			margin-top: 24px;
			margin-bottom: 24px;
		}

		.expertise__feature{
			margin-top: 50px;
			background: #fff;
			display: flex;
			flex-wrap: wrap;

			.item{
				flex: 1 0 33%;
				display: flex;
				flex-direction: column;
				align-items: center;

				span{
					font-size: 5rem;
					margin-bottom: 35px;		
					color:#00e0d0;	
					margin-top: 40px;
				}

				h3{
					font-size: 1.4rem;
					text-transform: uppercase;
					margin-bottom: 25px;
					@extend .roboto;
					font-weight: 700;
					color:#413d4b;
					letter-spacing: 0.7px;
				}

				p{
					font-size: 1.4rem;
					@extend .roboto;
					font-weight: 300;
					opacity: 0.75;
					margin-bottom: 40px;
					margin-left: 20px;
					margin-right: 20px;
					text-align: center;
					color:#333333;

				}
			}

			.item-above-left{
				border-right:1px solid darken(#f2f2f2,30%);
				
			}
			.item-above-middle{
				border-right: 1px solid darken(#f2f2f2,30%);
				
			}
			.item-above-right{
				

			}
			.item-below-left{
				border-right: 1px solid darken(#f2f2f2,30%);
				border-top: 1px solid darken(#f2f2f2,30%);
			}
			.item-below-middle{
				border-top: 1px solid darken(#f2f2f2,30%);
				border-right: 1px solid darken(#f2f2f2,30%);

			}
			.item-below-right{
				border-top: 1px solid darken(#f2f2f2,30%);
			}
		}
	}
}

#meet{
	background: url(../img/forest.png) center center no-repeat;
	background-attachment: fixed;
		background-size: cover;
		position: relative;
		*{
			z-index: 5;
		}

		.meet__overlay{
			background-image: linear-gradient(to right, rgba(9,5,47,0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
		  height: 100%;
			width: 100%;
		}

	.meet__alignment{
		display: flex;
		align-items: center;
		flex-direction: column;
		
		
		
	}
	h3{
		font-size: 2.2rem;
		font-weight: 700;
		letter-spacing: 1.1px;
		color: #fff;
		margin-top: 70px;
		text-transform: uppercase;
	}
	p{
		font-size: 1.4rem;
		font-weight: 400;
		letter-spacing: 1.05px;
		color: #fff;
		margin-top: 15px;
		text-transform: uppercase;
	}
	.meet__divider{
			width: 50px;
			height: 2px;
			background-color: #fff;
			margin-top: 50px;
			
	}
	.meet__persons{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 50px;
		&_person{
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-right: 20px;
			border: 1px solid #e1e1e1;

			&_picture{
				min-height: 220px;
				min-width: 220px;

			}
			h5{
				font-size: 1.4rem;
				@extend .roboto;
				font-weight: 400;
				color: #fff;
				letter-spacing: 0.7px;
				margin-top: 25px;
			}

			h6{
				font-size: 1.3rem;
				@extend .roboto;
				font-weight: 300;
				opacity: 0.7;
				margin-top: 12px;
				margin-bottom: 25px;
				color: #fafafa;
			}

			.person1{
				background: url(../img/greg-raines-50802.jpg) center center no-repeat;
				background-size: cover; 

			}
			.person2{
				background: url(../img/allef-vinicius-134060.jpg) center center no-repeat;
				background-size: cover; 
			}
			.person3{
				background: url(../img/brooke-cagle-241293.jpg) center center no-repeat;
				background-size: cover; 
			}
			.person4{
				background: url(../img/jake-young-168598.jpg) center center no-repeat;
				background-size: cover; 
			}
		}
	}
	h4{
		font-size: 1.4rem;
		@extend .roboto;
		font-weight: 300;
		color: #f3f3f3;
		letter-spacing: 0.7px;
		margin-top: 70px;
	}
	a{
		font-size: 1.6rem;
		@extend .roboto;
		font-weight: 700;
		color: #00e0d0;
		text-decoration: none;
		margin-top: 28px;
		margin-bottom: 70px;
		border: 2px solid #0b8993;
		border-radius: 2px;
		padding: 14px;
	}
}

#works{

	padding-bottom: 50px;
	.caption__alignment{
		display: flex;
		justify-content: space-between;
		min-height: 150px;
		align-items: center;
	}

	h3{
		font-size: 2.2rem;
		font-weight: 700;
		color: #413d4b;
		text-transform: uppercase;
	}

	p{
		font-size: 1.4rem;
		@extend .roboto;
		font-weight: 300;
		color: #413d4b;
		letter-spacing: 0.7px;

		i{
			margin-left: 10px;
			font-size: 20px;
			transition: transform 0.5s;
			cursor: pointer;
		}

		i:hover{
			transform: translateY(15px);
		}
	}

	.works{
		display: flex;
		flex-wrap: wrap;


		.work1{
		background: url(../img/work1.jpg) center center no-repeat;
		background-size: cover;
	}
	.work2{
		background: url(../img/work2.jpg) center center no-repeat;
		background-size: cover;
	}
	.work3{
		background: url(../img/work3.jpg) center center no-repeat;
		background-size: cover;
	}
	.work4{
		background: url(../img/work4.jpg) center center no-repeat;
		background-size: cover;
	}
	.work5{
		background: url(../img/work5.jpg) center center no-repeat;
		background-size: cover;
	}
	.work6{
		background: url(../img/work6.jpg) center center no-repeat;
		background-size: cover;
	}
	}
	.work{
		min-height: 300px;
		min-width: 300px;
		flex-basis: 33%;
		transition: transform 0.4s;
		position: relative;
		overflow: hidden;
		&:hover{
			cursor: pointer;
		}
		h4{
			font-size: 30px;
			@extend .roboto;
			color: #fff;
			font-weight: 700;
			position: absolute;
			transform: translateY(300px);
			left: 35%;
			transition: all 0.3s;
			z-index: 4;
			i{
				margin-left: 20px;
				position: relative;
				top: -12px;
			}
			}

		&__overlay{
			background-image: linear-gradient(to right, rgba(9,5,47,0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
	  	height: 100%;
			width: 100%;
			opacity: 0;
			transition: opacity 0.3s;
		}
		&:hover h4{
			transform: translateY(130px);
		}
		
		&:hover .work__overlay{
			opacity: 0.5;
		}
			
	}
	
	
}

#we{
	
	background: url(../img/forest2.png) center center no-repeat;
	background-size: cover; 
	background-attachment: fixed;
	
	position: relative;
	.overlay{
		background-image: linear-gradient(to right, rgba(9,5,47,0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	  height: 100%;
		width: 100%;
	}
	*{
		z-index: 5;
	}
	.we__alignment{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.quotes{
		color: #fff;
		font-size: 3.2rem;
		margin-top: 70px;
	}
	.we__text{
		color: #fff;
		font-size: 1.6rem;
		letter-spacing: 0.4px;
		opacity: 0.85;
		margin-top: 45px;
		line-height: 2.6rem;
		font-weight: 400;
		text-align: center;
	}
	h3{
		font-size: 1.7rem;
		@extend .roboto;
		font-weight: 700;
		color: #fff;
		letter-spacing: 0.7px;
		margin-top: 50px;
		text-transform: uppercase;
	}
	h4{
		font-size: 1.5rem;
		@extend .roboto;
		font-weight: 300;
		color: #fff;
		opacity: 0.7;
		margin-top: 12px;
		text-transform: uppercase;
		margin-bottom: 60px;
	}
}

#contact{
	padding-bottom: 50px;
	.alignment{
		display: flex;
		flex-wrap: wrap;
		margin-top: 65px;
	}
	.form{
		display: flex;
		flex-direction: column;
		flex-basis: 400px;
			
			h2{
				font-size: 2.2rem;
				font-weight: 700;
				color: #413d4b;
				letter-spacing: 1.1px;
				text-transform: uppercase;
			}

		form{
			display: flex;
			flex-direction: column;
		
			input, textarea{
				margin-top: 25px;
				border: 1px solid #7D7975;
				padding: 15px 20px;
				transition: all 0.6s;
			}

			input::placeholder{
				@extend .roboto;
				font-weight: 700;			}
			textarea::placeholder{
				@extend .roboto;
				font-weight: 700;
			}
			.first{
				margin-top: 35px;
			}
			.submit{
				color: #00e0d0;
				background: transparent;
				border: 2px solid #00e0d0;
				padding: 15px 33px;
				align-self: flex-start;
				text-transform: uppercase;
				margin-top: 25px;
				@extend .roboto;
				font-weight: 700;
				font-size: 1.6rem;
				cursor: pointer;
				transition: all 0.6s;
				border-radius: 6px;
			}
			.submit:hover{
				background: #00e0d0;
				color: #fff;
			}


		}
	}

	.clients{
	flex-basis: 600px;

		.client__alignment{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-between;

		}
		h2{
			font-size: 2.2rem;
				font-weight: 700;
				color: #413d4b;
				letter-spacing: 1.1px;
				text-transform: uppercase;
				text-align: center;
		}
		.client{
			flex-basis: 50%;
			margin-top: 50px;
			
		}
		.client1{
			background: url(../img/zara-logo-svg.png) center center no-repeat;
			min-height: 22px;
			min-width: 162px;
		}
		.client2{
			background: url(../img/logo-of-mango--new--svg.png) center center no-repeat;
			min-height: 22px;
			min-width: 138px;
		}
		.client3{
			background: url(../img/1280px-barneys-new-york-logo-svg.png) center center no-repeat;
			min-height: 41px;
			min-width: 154px;
		}
		.client4{
			background: url(../img/1280px-gucci-logo-svg.png) center center no-repeat;
			min-height: 21px;
			min-width: 140px;}
		.client5{
			background: url(../img/calvin-klein-logo-svg.png)   center center no-repeat;
			min-height: 24px;
			min-width: 151px;}
		.client6{
			background: url(../img/1280px-logo-nike-svg.png)  center center no-repeat;
			min-height: 34px;
			min-width: 95px;}
		.client7{
			background: url(../img/converse-logo-svg.png)  center center no-repeat;
			min-height: 69px;
			min-width: 113px;}
		.client8{
			background: url(../img/puma-logo-svg.png)  center center no-repeat;
			min-height: 56px;
			min-width: 114px;
		}
		.client9{
			background: url(../img/1280px-levi-s-logo-svg.png)  center center no-repeat;
			min-height: 53px;
			min-width: 109px;}
		.client10{
			background: url(../img/billabong-svg.png)  center center no-repeat;
			min-height: 70px;
			min-width: 130px;}
	}
}


footer{
	background: url(../img/desktop.png) center center no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative; 
	.overlay{
		background-image: linear-gradient(to right, rgba(9,5,47,0.85) 0%, rgba(49, 29, 94, 0.85) 100%);
		position: absolute;
		top: 0;
		left: 0;
		z-index: 2;
	  height: 100%;
		width: 100%;
	}
	*{
		z-index: 5;
	}
	.footer__content{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		padding-top: 70px;
		padding-bottom: 30px;
	}

	.tajam{
		display: flex;
		flex-basis: 320px;
		flex-direction: column;
	}

	.logo{
		display: flex;
		align-items: center;
		margin-bottom: 30px;
		img{
			margin-right: 10px;
		}



		span{
			font-size: 3rem;
			color:#2fa5bd;
			@extend .roboto;
			font-weight: 300;
		}

	}

	p{
			font-size: 1.4rem;
			@extend .roboto;
			font-weight: 300;
			line-height: 2.6rem;
			color: #fff;
		}

	.ourstudio{
		display: flex;
		flex-basis: 300px;
		flex-direction: column;

		.phonenumber{
			text-decoration: none;
			color: #fff;
			position: relative;
			top: -5px;
		}

		h3{
			font-size: 1.5rem;
			@extend .roboto;
			font-weight: 700;
			color: #fff;
			letter-spacing: 0.75px;
			margin-bottom: 40px;
			text-transform: uppercase;
		}
		
		.marker{
			font-size: 1.4rem;
			@extend .roboto;
			font-weight: 400;
			color: #fff;
			line-height: 2.6rem;
			letter-spacing: 0.7px;
			margin-bottom: 20px;
			i{
				font-size: 2rem;
				margin-right: 10px;
			}
		}
		
		.phone{
			font-size: 1.4rem;
			@extend .roboto;
			font-weight: 700;
			color: #fff;
			letter-spacing: 0.7px;

			i{
				font-size: 2rem;
				margin-right: 10px;
			}
		}
	}
	.collaborate{
		display: flex;
		flex-direction: column;

		.send{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
		}
		h3{
			font-size: 1.5rem;
			@extend .roboto;
			font-weight: 700;
			color: #fff;
			letter-spacing: 0.75px;
			margin-bottom: 40px;
			text-transform: uppercase;
		}
		input{
			padding: 18px 15px;
			background: transparent;
			border: 0;
			border: 2px solid #fff;
			transition: all 0.5s;
			color: #fff;
			&:focus{
				outline:none;
				border: 2px solid #00e0d0;

			}
			&:focus::placeholder{
				color: #00e0d0;
			}
							&::placeholder{
				@extend .roboto;
				font-size: 1.4rem;
				color: #fff;
				opacity: 1;
				font-weight: 400;
				transition: 0.5s;
			}
		}
		i.fa-paper-plane{
			font-size: 3rem;
			background: transparent;
			margin-left: 30px;
			cursor: pointer;
			color: #fff;
			transition: color 0.5s;
			&:hover{
				color: #00e0d0;
			}
		}

		.social{
			display: flex;
			flex-wrap: wrap;
			margin-top: 30px;
			
			i{
				font-size: 1.5rem;
				padding: 10px;
				border: 1px solid #fff;
				border-radius: 100%;
				color : #fff;
				margin-right: 8px;
				transition: all 0.5s;

				&:hover{
					color: #00e0d0;
					border: 1px solid #00e0d0;
				}

			}
			i.fa-facebook{
				padding: 10px 15px;
			}
			i.fa-twitter{
				padding: 10px 12px;
			}
			i.fa-google-plus{
				padding: 10px 8px;
			}
			i.fa-twitter{
				padding: 10px 12px;
			}

		}
	}
}

@media only screen and (min-width: 641px){
.remodal {
    max-width: 900px;
    padding: 0px;
    background: transparent;
}
}

@media (min-width: 1200px) {

}

@media (min-width: 992px) and (max-width: 1199px) {

}

@media (min-width: 768px) and (max-width: 991px) {
html{
	font-size: 9px;
}
iframe{
	width: 700px;
	height: 393px;
}
.remodal {
    max-width: 500px;
    left: -15%;
    padding: 0px;
    background: transparent;
}
 #meet{
 	.meet__alignment{
 		justify-content: center;
 	}
	.meet__persons{
		justify-content: center;
		&_person{
			margin-right: 70px;
			margin-bottom: 30px;
		}
	}
 }

 #works{
 	.caption__alignment{
 		justify-content: space-around;
 	}
 	.works{
 		justify-content: center;
 	}
 }

 #contact{
 	.alignment{
 		justify-content: center;
 		form{
 			margin-bottom: 50px;
 		}
 	}
 }
 footer{
 	.footer__content{
 		flex-direction: column;
 		align-items: center;

 		.tajam, .ourstudio, .collaborate{
			flex-basis: 250px;
			flex-direction: column;
			align-items: center;
 		}
 	}
 }

 #story{
 	.story__alignment{
 		padding-bottom: 30px;
 	}
 }
}

@media (max-width: 767px) {
	html{
	font-size: 9px;
}
iframe{
	width: 600px;
	height: 337px;
}
		header{
			.header{
				flex-direction: column;
				align-items: center;
				.logo{
					flex-basis: 100px;
					img{
						margin-right: 10px;
					}
				}
				ul{
					display: flex;
					flex-wrap: wrap;
					justify-content: center;
					li{
						flex-basis: 150px;
						margin-bottom: 40px;
					}
				}
			}
			.title__caption{
				margin-top: 10px;
			}
			.title__link{
				margin-top: 20px;
			}
			.switchers{
				margin-top: 20px;
			}
		}
		.story__alignment{
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 10px;
		}
		#meet{
	.meet__persons{
		flex-direction: column;

		&_person{
			margin-right: 10px;
			margin-bottom: 20px;
		}
	}
}

.caption__alignment{
	padding-left: 20px;
	padding-right: 20px;
}
	#works{
		
		.works{
			justify-content: center;
			.work{
				margin-bottom: 10px;
			}
		}
}

#contact{
	.alignment{
		justify-content: center;
		form{
			margin-bottom: 30px;
		}
	}
}
footer{
	.footer__content{
		padding-left: 30px;
		padding-right: 30px;
		flex-direction: column;
		.tajam, .ourstudio, .collaborate{
			flex-basis: 200px;
			flex-direction: column;
			align-items: center;
 		}
	}
}
}

@media (max-width: 480px) {
	html{
		font-size: 7px;
	}
 header{
		.header{
			padding-left: 30px;
			ul{
			li{
				flex-basis: 100px;
				a{
					font-size: 2rem;
					display: block;
				}
			}
		}
		}
		.title__caption{
			font-size: 3.4rem;
			text-align: center;	

		}
		.switchers{
			margin-top: 10px;
		}
 }
 #story{
 	.story__alignment{
 		flex-direction: column;
 		.story__title{
 			margin-left: 10px;
 			margin-top: 30px;
 		}
 		.story__picture{
 			background-size: 180px;
 			margin-top:10px;
 			margin-bottom:0;
 			min-height: 180px;
 			min-width: 180px;
 		}
 	}
 }
 #expertise{
 	padding-left: 10px;
 	padding-right: 10px;
 }
#we{
	padding-left: 10px;
	padding-right: 10px;

}
#contact{
	padding-left: 10px;
	padding-right: 10px;

}
#expertise{
	.expertise__feature{

		.item{
			span{
				margin-top: 10px;
				margin-bottom: 10px;
			}
			h3{
				margin-top: 10px;
				text-align: center;
			}
		}
	}
}
#meet{
	padding-left: 10px;
	padding-right: 10px;
}
}

@media (max-width: 641px){

	.remodal{
    max-width: 550px;
    padding: 0px;
    background: transparent;
    left: -5%;
	}
	.video__play{
		display: none;
	}

	.video__play_mobile{
		display: block;
	}

}


@media (min-width: 642px) {
		.video__play_mobile{
			display: none;
		}
}